#profileDiv{
    position: absolute;
    border-radius: 7px; 
    width: 8%;
    height: 5%;
    margin-left: 91%;
    margin-top: 1%;
    justify-content: center;
    display: flex;
    vertical-align: center;
    text-align: center;
    background-color: #3445b4;
    font-size: 15px;
    padding-top: 10px;
    color: white;
}

#profileDiv:hover{
    cursor: pointer;
}

#pfRiskTable{
    text-align: center;
    font-size: 13px;
}


#assetRiskDiv{
    display: flex;
    vertical-align: middle;
    text-align: center;
}
#assetRiskDiv > p{
    margin-top: auto;
    margin-bottom: auto;
}

/* Set size and color of bootstrap-select */
#savedPfMenuDiv > div {
  width: 330px !important;
}

#setPeriodDiv > div {
  width: 70px !important;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;
  color: #ffffff;
  background-color: #3445b4;
}
.dropdown-menu > li > a.active {
  background-color: #3445b4;
}

.bootstrap-select>.dropdown-toggle:after {
  color: #3445b4;
  margin-right: 5px;
}


/* Block selection on all page */
::selection {
  background: transparent; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: transparent; /* Gecko Browsers */
}

body{-webkit-user-select:none;-moz-user-select:-moz-none;
  -ms-user-select:none;user-select:none}